<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NooskApp - Reset Password</title>
  <!-- Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Font Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    /* Additional CSS style for red input */
    .input-error {
      border-color: red !important;
    }

    .btn {
      background-color: rgb(78, 118, 120);
      border-radius: 20px;
      color: white;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-8 col-12 mx-auto">
        <h3 class="mt-5">Noosk App</h3>


        <% if(isExpired && isExpired !="" ){ %>
          <div class="alert alert-danger mt-5" role="alert">
            <%= isExpired; %>
          </div>
          <% }else{ %>
            <h4 class="mt-5">Reset Password</h4>
            <div class="alert alert-primary d-none" role="alert">
              This is a primary alert—check it out!
            </div>
            <div class="alert alert-danger d-none" role="alert">
              This is a danger alert—check it out!
            </div>
            <form action="/user/update-password" method="post" class="mt-4">
              <input type="hidden" name="email" value="<%= email %>">
              <input type="hidden" name="otp" value="<%= otp %>">

              <div class="form-group">
                <label for="password">New Password:</label>
                <div class="input-group">
                  <input type="password" id="password" name="password" class="form-control" required>
                  <div class="input-group-append">
                    <span class="input-group-text" onclick="togglePasswordVisibility('password')">
                      <i class="fas fa-eye"></i>
                    </span>
                  </div>
                </div>
                <small id="passwordHelp" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <div class="input-group">
                  <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                  <div class="input-group-append">
                    <span class="input-group-text" onclick="togglePasswordVisibility('confirmPassword')">
                      <i class="fas fa-eye"></i>
                    </span>
                  </div>
                </div>
                <small id="confirmPasswordHelp" class="form-text text-muted"></small>
              </div>

              <button type="button" id="reset-button" class="btn">Reset Password</button>
            </form>
            <% } %>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS scripts (Optional, if you want to use Bootstrap JS features) -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Font Awesome JS script for icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

  <script>

    $(document).on('click', '#reset-button', function (e) {
      let $form = $(this).parents("form");
      let password = $("#password").val();
      let confirmPassword = $("#confirmPassword").val();

      if (password !== confirmPassword) {
        $("#password").addClass("input-error");
        $("#confirmPassword").addClass("input-error");
        $("#confirmPasswordHelp").text("Passwords do not match!");
        return false;
      } else {
        $("#password").removeClass("input-error");
        $("#confirmPassword").removeClass("input-error");
        $("#confirmPasswordHelp").text("");
      }

      // Validate password complexity: At least one number, one capital letter, and one special character
      const passwordRegex = /^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$/;
      if (!passwordRegex.test(password)) {
        $("#password").addClass("input-error");
        $("#passwordHelp").text("Password must contain at least one number, one capital letter, and one special character.");
        return false;
      } else {
        $("#password").removeClass("input-error");
        $("#passwordHelp").text("");
      }



      $.post('/user/update-password', {
        email: $('input[name="email"]').val(),
        otp: $('input[name="otp"]').val(),
        password: $('input[name="password"]').val(),
        confirmPassword: $('input[name="confirmPassword"]').val(),
      }, function (response) {
        if (response.success) {
          $('.alert-primary').text(response.message).removeClass('d-none');
          $('.alert-danger').addClass('d-none');
          $form.remove();
        } else {
          $('.alert-primary').addClass('d-none');
          $('.alert-danger').text(response.message).removeClass('d-none');
        }
      });

    });

    function validateForm(e) {
      e.preventDefault();
    }

    function togglePasswordVisibility(inputId) {
      var input = document.getElementById(inputId);
      if (input.type === "password") {
        input.type = "text";
      } else {
        input.type = "password";
      }
    }


    document.getElementById("password").addEventListener("input", function () {
      var password = this.value;
      var passwordInput = document.getElementById("password");
      var passwordHelp = document.getElementById("passwordHelp");

      if (password.length < 6) {
        passwordInput.classList.add("input-error");
        passwordHelp.textContent = "Password must be at least 6 characters long.";
      } else {
        passwordInput.classList.remove("input-error");
        passwordHelp.textContent = "";
      }

      // Validate password complexity: At least one number, one capital letter, and one special character
      const passwordRegex = /^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$/;



      if (!passwordRegex.test(password)) {
        passwordInput.classList.add("input-error");
        passwordHelp.textContent = "Password must contain at least one number, one capital letter, and one special character.";
      } else {
        passwordInput.classList.remove("input-error");
        passwordHelp.textContent = "";
      }
    });

    document.getElementById("confirmPassword").addEventListener("input", function () {
      var password = document.getElementById("password").value;
      var confirmPassword = this.value;
      var passwordInput = document.getElementById("password");
      var confirmPasswordInput = document.getElementById("confirmPassword");
      var confirmPasswordHelp = document.getElementById("confirmPasswordHelp");

      if (password !== confirmPassword) {
        confirmPasswordInput.classList.add("input-error");
        confirmPasswordHelp.textContent = "Passwords do not match!";
      } else {
        confirmPasswordInput.classList.remove("input-error");
        confirmPasswordHelp.textContent = "";
      }
    });

  </script>
</body>

</html>